<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="kustomer_order_create" instance="Kustomer\KustomerIntegration\Observer\CheckoutSuccessActionObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="kustomer_customer_create" instance="Kustomer\KustomerIntegration\Observer\CustomerRegisterSuccessObserver" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="kustomer_customer_save_after_data_object" instance="Kustomer\KustomerIntegration\Observer\CustomerSaveAfterDataObjectObserver" />
    </event>
    <event name="customer_address_save_after">
        <observer name="kustomer_customer_address_save_after" instance="Kustomer\KustomerIntegration\Observer\CustomerAddressSaveAfterObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="kustomer_order_canceled" instance="Kustomer\KustomerIntegration\Observer\OrderSaveAfterObserver" />
    </event>
</config>
