<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="kustomer_order_create" instance="Kustomer\KustomerIntegration\Observer\CheckoutSuccessActionObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="kustomer_customer_create" instance="Kustomer\KustomerIntegration\Observer\CustomerRegisterSuccessObserver" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="kustomer_customer_save_after_data_object" instance="Kustomer\KustomerIntegration\Observer\CustomerSaveAfterDataObjectObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="kustomer_order_canceled" instance="Kustomer\KustomerIntegration\Observer\OrderCancelAfterObserver" />
    </event>
</config>
